@import './imports/colors';

span {
    &.variable {
        background-color: $prussian-blue;
        color: #ffffff;
        padding: 4px;
        border-radius: 5px;
    }

    span {
        &.name {
            background-color: $celadron-blue;
            padding: 2px;
            border-radius: 5px;
        }
    }
    
}

#codenode {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px 0;
    .codefield {
        grid-column: 1 / 12;
        // width: 80%;
        // margin: 0 auto;
        margin-bottom: 20px;
        &:nth-last-child() {
            margin-bottom: 0;
        }
    }
    
    .layoutInfo {
        grid-column: 1 / 5;
    }
    
    .submit {
        grid-column: 14/17;
        grid-row: 5/5;
    }
    
    .varStructureHint {
        grid-row: 4/4;
        grid-column: 14/17;
    }

    .variabs_description {

    }
}

.variabDialog {
    // display: grid;
    width: 400px;
    height: 400px;
    // grid-template-columns: repeat(5, 1fr);
    // margin: auto;
    // padding: 20px;
    // .varSelectField {
    //     width: 70%;
    // }

    .inputBlock {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .innerField {
        margin: 7px 0;
    }
}