@import './imports/colors';
@import './imports/variables';

body {
    // background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #181818;
    text-decoration: none;
    &:link &:visited &:hover &:active{
        color: #181818;
        text-decoration: none;
    }
}




.main-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    .ls-menu {
        background-color: #fafafa;
        height: inherit;
        background-image: $noise-background-image;
        // padding-top: 40px;
        // -webkit-box-shadow: 9px 12px 12px -6px rgba(0,0,0,0.58);
        // -moz-box-shadow: 9px 12px 12px -6px rgba(0,0,0,0.58);
        // box-shadow: 9px 12px 12px -6px rgba(0,0,0,0.58);
        border-right: dashed 2px #181818;
    }
    
    .content {
        height: inherit;
        padding: 0 30px;
    }
    
    .ls-menu {
        display: flex;
        flex-flow: column;
    }
}